<tr class="contact">
	<td><%= contact.first_name %></td>
	<td><%= contact.gecond_name %></td>
	<td><%= contact.telephone %></td>
	<td><%= link_to 'Destroy', contact, method: :delete, remote: true %></td>
</tr>
