<h1>Contacts</h1>

<table class="databrouser" border="2">
  
    <tr class="fix_head">
    <td>First name</td>
    <td>Gecond name</td>
    <td>Telephone</td>
  </tr>
  
    <% @contacts.each do |contact| %>
  
    <%= render contact %>
  
    <% end %>
  
  <%= form_for @contact, remote: true, :html=> {:id => 'dd'} do |f| %>
    <tr class="gg">    
           <td>
           <%= f.text_field :first_name, :size => 15 %>
          </td>
          <td>
            <%= f.text_field :gecond_name, :size => 15 %>  
          </td>
          <td>
              <%= f.telephone_field :telephone, :size => 15 %>
          </td>  
          
        </tr>

    <% end %>  

</table>

<br />
<p>
  <%= will_paginate @contacts %>
</p>