<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Gecond name:</b>
  <%= @contact.gecond_name %>
</p>

<p>
  <b>Telephone:</b>
  <%= @contact.telephone %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
